<ion-view title="Cadastro Login" data-ng-controller="CadastroLoginController as vmCadastroLogin" class="Background">
    <ion-content style="background-image: url(http://clash-wiki.com/images/media/wallpapers/clash-of-clans-balloon-wallpaper.jpg); background-position: center;background-size: cover;background-repeat: no-repeat; text-align: center">
        <form>
            <br>
            <div class="list card">
                <!--<img src="http://static.wixstatic.com/media/2a016d_fb72f92612da452186351848fdcf1b4b.png);" style="width: 200px;height:200px ">-->
                <div class="item item-body">
                    <p style="height: 22px">
                        <input type="email" class="font-clash placeholder-white" style="font-size: 8px;background-color: rgba(0, 0, 0, 0.78); 
                            width:90%; border-radius: 5px;padding-left: 10px; " placeholder="email" data-ng-model="vmCadastroLogin.Cadastro.email">
                    </p>
                    <p style="height: 22px">
                        <input type="text" class="font-clash placeholder-white" style="font-size: 8px;background-color: rgba(0, 0, 0, 0.78); 
                            width:90%; border-radius: 5px;padding-left: 10px; " placeholder="Tag Member clash" data-ng-model="vmCadastroLogin.Cadastro.TagMember">
                    </p>
                    <p style="height: 22px">
                        <input type="password" class="font-clash placeholder-white" style="font-size: 8px; background-color: rgba(0, 0, 0, 0.78); 
                            width:90%; border-radius: 5px;padding-left: 10px; " placeholder="Senha" data-ng-model="vmCadastroLogin.Cadastro.password">
                    </p>
                    <div>
                        <button class="button button-light font-clash" style="width: 35%;background-color: transparent;border-color: black"
                            data-ng-click="vmCadastroLogin.OnCadastroLogin(vmCadastroLogin.Cadastro)">
                            Cadastrar
                        </button>
                        <a ng-href="/#/Login" class="button button-light font-clash" style="width: 35%;background-color: transparent; border-color: black">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>