<ion-view view-title="CriarDesafio" data-ng-controller="CriarDesafioController as vmCriarDesafio" class="font-clash Background">
    <ion-header-bar data-align-title="center" class="bar bar-header" style="height: 50px;margin-top: 44px;padding: inherit">
        <div style="background-color: white;height: 60px;width: 100%;text-align: center;display:flex;align-items:center">
            <label style="text-align: center;font-size: 8px;color: black"> Se divirta realizando uma competição provando de uma vez por todas, quem realmente é o membro que mais doa para o clã </label>
        </div>
    </ion-header-bar>
    <ion-content>
        <br style="height: 1px">
        <div style="margin-top:50px;text-align: center;background-color: white;margin-left: 9px;margin-right: 9px;border-radius: 8px;">
            <div class="row" style="text-align: center;background-color: #2f3f5a">
                <div class="col col-33" style="text-align: center;height: 50px">
                    <label style="font-size: 10px;color: white"> Data Inicial </label>
                    <p>
                        <input type="text" placeholder="dd/mm/yyyy" id="datepicker" style="color: white;font-size: 8px;height: 15px;background-color:#2f3f5a;border: none;font-size: 10px;width: 100%;text-align: center"
                            class="font-clash placeholder-white">
                    </p>
                </div>

                <div div class="col col-33" style="text-align: center;height: 50px">
                    <label style="font-size: 10px;color: white"> Tempo  </label>
                    <br>
                    <input type="time" placeholder="hh:mm:ss" style="color: white;font-size: 8px;height: 15px;background-color:#2f3f5a;border: none;font-size: 10px;width: 100%;text-align: center"
                        class="font-clash placeholder-white">
                </div>
                <div div class="col col-33" style="text-align: center;height: 50px">
                    <label style="font-size: 10px;color: white"> Qtd. min </label>
                    <br>
                    <input type="number" placeholder="Membros" style="color: white;font-size: 8px;height: 15px;background-color:#2f3f5a;border: none;font-size: 10px;width: 100%;text-align: center"
                        class="font-clash placeholder-white">
                </div>
            </div>
            <!--<div style="background-color: #2f3f5a;border-radius: 8px;display: flex;align-items: center;justify-content: center">
                <div style="text-align: center;height: 50px">
                    <label style="font-size: 10px;color: white"> Data do desafio </label>
                    <br>
                    <input type="text" placeholder="DD/MM/YYYY" style="color: white;font-size: 8px;height: 15px;background-color:#2f3f5a;border: none;margin: auto;font-size: 10px;" class="font-clash placeholder-white"> 
                </div>

                <div style="text-align: center;height: 50px">
                    <label style="font-size: 10px;color: white"> Tempo de Desafio </label>
                    <br>
                    <input type="text" placeholder="DD/MM/YYYY" style="color: white;font-size: 8px;height: 15px;background-color:#2f3f5a;border: none;margin: auto;font-size: 10px;" class="font-clash placeholder-white"> 
                </div>
            </div>-->
            <div>
                <div class="font-clash">
                    <label style="font-size: 10px"> Convidar membros para o desafio </label>
                </div>

                <!--<div class="item item-avatar" data-ng-repeat="item in vmCriarDesafio.ListaMembrosCriarDesafio" style="min-height:67px !important;text-align: left">
                    <img src= {{item.league.iconUrls.small}} style="width: 50px!important;height: 50px!important">
                        <label class="font-clash" style="color: black;font-size: 11px;"> {{item.name}} </label>
                    <br>    
                    <div style="border-radius: 8px;width: 160px ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:8px"
                        class="font-clash">
                        Não cadastrado!
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                    <button class="button button-positive" style="background-color: #2f3f5a" Enabled="false" >
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   </button>
                    <button class="button button-positive" style="background-color: #9b1616" Enabled="false" >
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>
                   </div>
                    
                </div>-->

                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">

                        <div class="row" style="width:100% ">
                            <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>

                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">
                        <div class="row" style="width:100% ">
                            <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>
                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div class="row" style="width:100% ">
                        <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                            class="font-clash">
                            <div class="row" style="width:100% ">
                                <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                    <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                    <p>
                                        <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                                </div>
                                <div class="col col-33" style="text-align: center; margin-top: -2%">
                                    <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                    <p>
                                        <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                                </div>
                                <div class="col col-33" style="text-align: center; margin-top: -2%">
                                    <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                    <p>
                                        <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>

                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">
                        <div class="row" style="width:100% ">
                            <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>

                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">
                        <div class="row" style="width:100% ">
                            <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>

                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">
                        <div class="row" style="width:100% ">
                            <div class="row" style="width:100% ">
                                <div class="col col-33 " style="text-align: center">
                                    <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                    <p>
                                        <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                                </div>
                                <div class="col col-33" style="text-align: center">
                                    <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                    <p>
                                        <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                                </div>
                                <div class="col col-33" style="text-align: center">
                                    <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                    <p>
                                        <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>

                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">
                        <div class="row" style="width:100% ">
                            <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>

                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">
                        <div class="row" style="width:100% ">
                            <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>

                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">
                        <div class="row" style="width:100% ">
                            <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>

                </div>
                <div class="item item-avatar" style="min-height:93px !important;text-align: left;padding-left: 20%">
                    <img src="../img/Tita.png" style="width: 50px!important;height: 50px!important;top: 19%;left: 2%">
                    <label class="font-clash" style="color: black;font-size: 11px;margin-left:5%"> zEuS </label>
                    <br>
                    <div style="border-radius: 8px;width: 75% ; background-color: rgba(18, 14, 50, 0.08);text-align: center;color: red;margin-top:2px;height: 30px"
                        class="font-clash">
                        <div class="row" style="width:100% ">
                            <div class="col col-33 " style="text-align: center;margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Pontos</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 1875</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Desafios</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">850</label>
                            </div>
                            <div class="col col-33" style="text-align: center; margin-top: -2%">
                                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                                <p>
                                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;margin-top: -44px">
                        <button class="button button-positive" style="background-color: #2f3f5a;min-width:45px" Enabled="false">
                    <i class="icon ion-ios-redo" style="text-align: right"></i>
                   <!--</button>
                        <button class="button button-positive" style="background-color: #9b1616" Enabled="false">
                    <i class="icon ion-ios-undo" style="text-align: right"></i>
                   </button>-->
                    </div>
                </div>

                <br>
            </div>
        </div>

    </ion-content>
</ion-view>