<ion-view view-title="Desafios" data-ng-controller="DesafioController as vmDesafio" class="Background">
    <ion-content class="padding">
        <div class="bar bar-header item-input-inset identificador " style="background-color: #9091a5">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Tag do clã " class="font-clash" style="font-size: 8px; " data-ng-model="vmDesafio.Conteudo.Search">
            </label>
            <button class="button button-clear button-dark font-clash" data-ng-click="vmPesquisaCla.PesquisarDesafio(vmDesafio.Conteudo)">Pesquisar</button>
        </div>
        <!--<ion-searchbar (ionInput)="vmDesafio.PesquisarDesafio($event)"></ion-searchbar>
        <ion-list>
            <ion-item *ngFor="let item of vmDesafio.ListaMembrosDesafio">
                {{ item.name }}
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>