<ion-view view-title="Login" data-ng-controller="LoginController as vmLogin" class="Background">
  <ion-content style="background-image: url(http://clash-wiki.com/images/media/wallpapers/clash-of-clans-balloon-wallpaper.jpg); background-position: center;background-size: cover;background-repeat: no-repeat; text-align: center"
    class="font-clash">
    <form ng-submit="vmLogin.OnLogin(vmLogin.Login)">
      <br>
     <div class="list card">
        <div class="item item-body">
          <!--<img src="http://srp.trdinfotech.com/login1.jpg" style="width: 200px;height:200px ">-->
          <p style="height: 22px">
            <input type="text" class="font-clash placeholder-white" style="font-size: 8px; background-color: rgba(0, 0, 0, 0.78); 
                            width:90%; border-radius: 5px;padding-left: 10px; " placeholder="Tag Member clash" data-ng-model="vmLogin.Login.TagMember">
          </p>
          <p style="height: 22px">
            <input type="password" class="font-clash placeholder-white" style="font-size: 8px;background-color: rgba(0, 0, 0, 0.78); 
                            width:90%; border-radius: 5px;padding-left: 10px; " placeholder="Senha" data-ng-model="vmLogin.Login.password">
          </p>
          <a ng-href="/#/CadastroLogin" class="font-clash" >não possuo cadastro</a> <a href="/#/RecuperarSenha"
            class="font-clash" >recuperar senha</a>
          <p></p>
          <!--<button type="submit" value="submit" class="button font-clash" style="width: 70%;background-color: transparent;border-color: white;color: white">Entrar</button>-->
          <a ng-href="/#/Tabs/MeuCla" class="button button-light font-clash" style="width: 70%;background-color: transparent; border-color: black ">Entrar</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>