<ion-view view-title="MeuCla" data-ng-controller="MeuClaController as vmMeuCla" class="Background">
    <ion-header-bar data-align-title="center" class="bar bar-header" style="height: 50px;margin-top: 40px;padding: inherit">
        <div class="row" style="background-color: white;width: 100%;height: 50px;">
            <div class="col col-33" style="text-align: center">
                <label class="font-clash" style="color: black;font-size: 8px"> Posição Atual</label>
                <p>
                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 3º</label>
            </div>
            <div class="col col-33" style="text-align: center">
                <label class="font-clash" style="color: black;font-size: 8px"> Desafio Atual</label>
                <p>
                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px">08:51:47</label>
            </div>
            <div class="col col-33 " style="text-align: center">
                <label class="font-clash" style="color: black;font-size: 8px">Wins</label>
                <p>
                    <label class="font-clash" style="color: rgb(47, 63, 90);font-size: 8px"> 703</label>
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <!--<div style="text-align: center;background-color: rgb(230, 228, 228);margin-top: 46px" data-ng-repeat="item in vmMeuCla.InformacoesCla">
            <div>
                <img src= {{item.badgeUrls.medium}} style="margin-bottom: -38px" alt="Teste" >
                <div style="color: white;font-size: 11px;margin-top: -140px;
                            width: 100%;border-radius: 10px;position: absolute;">
                    <div style="background-color: black;width: 40px;position: relative;margin-left: 45%;border-radius: 8px;height:17px">
                        <label class="font-clash" style="font-size: 11px"> {{item.clanLevel}} </label>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: rgb(230, 228, 228);text-align: center" data-ng-repeat="item in vmMeuCla.InformacoesCla" >
            <img src="../img/Trofeu.png" width="21">
            <label class="font-clash" style="color: black;font-size: 11px;"> {{item.clanPoints}} </label>
            <img src="../img/Members.png" width="21">
            <label class="font-clash" style="color: black;font-size: 11px;"> {{item.members}} </label>
            <label class="font-clash" style="color: black;font-size: 11px;"> {{item.tag}} </label>            
        </div>
        <div class="item item-avatar" data-ng-repeat="item in vmMeuCla.ListaMembros" >
            <img src= {{item.league.iconUrls.medium}} >
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> {{item.name}} </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> {{item.tag}}</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> {{item.expLevel}}
                <img src="../img/Trofeu.png" width="21"> {{item.trophies}}
            </div>
        </div>
        <br>-->
        <div style="text-align: center;background-color: rgb(230, 228, 228);margin-top: 46px">
            <div>
                <img src= "../img/Emblema.png" style="margin-bottom: -28px" alt="Teste">
                <div style="color: white;font-size: 11px;margin-top: -140px;
                            width: 100%;border-radius: 10px;position: absolute;">
                    <div style="background-color: black;width: 40px;position: relative;margin-left: 45%;border-radius: 8px;height:17px">
                        <label class="font-clash" style="font-size: 11px"> 15 </label>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: rgb(230, 228, 228);text-align: center">
            <img src="../img/Trofeu.png" width="21">
            <label class="font-clash" style="color: black;font-size: 11px;"> 55600 </label>
            <img src="../img/Members.png" width="21">
            <label class="font-clash" style="color: black;font-size: 11px;"> 37 </label>
            <label class="font-clash" style="color: black;font-size: 11px;"> #PPLORUU </label>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <div class="item item-avatar">
            <img src="../img/Tita.png">
            <div style="margin-left: 25px;border-radius: 8px;height: 40px;width: 160px">
                <label class="font-clash" style="color: white;font-size: 11px;margin-left:25px;"> ZeUs </label>
                <br>
                <label class="font-clash" style="color: white;font-size: 5px;margin-left:25px;"> #PPLLROUU</label>
            </div>
            <div style="margin-left: 25px;border-radius: 8px;width: 160px ; background-color: rgba(53, 49, 49, 0.15);text-align: center"
                class="font-clash">
                <img src="../img/XP.png"> 250
                <img src="../img/Trofeu.png" width="21"> 3460
            </div>
        </div>
        <br>
    </ion-content>
</ion-view>