<ion-view view-title="Recuperar Senha" data-ng-controller="RecuperarSenhaController as vmRecuperarSenha" class="Background">
    <ion-content style="background-image: url(http://clash-wiki.com/images/media/wallpapers/clash-of-clans-balloon-wallpaper.jpg); background-position: center;background-size: cover;background-repeat: no-repeat; text-align: center"
        class="font-clash">
        <form>
            <br>
            <div class="list card">
                <!--<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8K_sss7PCplfCS9oC7IRUgfgTlCdI7Kf0Ky5NE8t30gFWaSV9);" style="width: 200px;height:200px ">-->
                <div class="item item-body">
                    <p style="height: 22px">
                        <input type="email" class="font-clash placeholder-white" style="font-size: 8px; background-color: rgba(0, 0, 0, 0.78); 
                            width:90%; border-radius: 5px;padding-left: 10px; " placeholder="email" data-ng-model="vmRecuperarSenha.Recuperar.email">
                    </p>
                    <p style="height: 22px">
                        <input type="text" class="font-clash placeholder-white" style="font-size: 8px;background-color: rgba(0, 0, 0, 0.78); 
                            width:90%; border-radius: 5px;padding-left: 10px; " placeholder="Tag Member clash" data-ng-model="vmRecuperarSenha.Recuperar.TagMember">
                    </p>
                    <button class="button button-light font-clash" style="width: 35%;background-color: transparent;border-color: black"
                        data-ng-click="vmRecuperarSenha.OnRecuperarSenha(vmRecuperarSenha.Recuperar)">
                            Solicitar
                    </button>
                    <a ng-href="/#/Login" class="button button-light font-clash" style="width: 35%;background-color: transparent;border-color: black">Cancelar</a>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>