<ion-tabs class="tabs-icon-top" >
    <ion-tab title="Meu Clã" icon-on="ion-ios-people" icon-off="ion-ios-people" href="#/Tabs/MeuCla" class="tab font-clash" style="font-size: 8px" >
        <ion-nav-view name="MeuCla"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Criar Desafios" icon-on="ion-nuclear" icon-off="ion-nuclear" href="#/Tabs/CriarDesafio" class="tab font-clash">
        <ion-nav-view name="CriarDesafio"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Desafios" icon-on="ion-ios-paper" icon-off="ion-ios-paper" href="#/Tabs/Desafios" class="tab font-clash">
        <ion-nav-view name="Desafios"></ion-nav-view>
    </ion-tab>
</ion-tabs>