@font-face {
     font-family: 'supercell-magic'; src: url('../lib/ionic/fonts/Supercell-magic-webfont.ttf'); }

.font-clash{
    font-family:  'supercell-magic';
}
.Background{
    background-color:rgb(49, 49, 44) !important;
}
.BackgroundCriaDesafios{
    /*font-family: supercell-magic !important; */
    background-color:white !important

}
.item
{
    box-shadow: none;
    background-color: rgba(187, 187, 187, 0.68);
    color: white !important;
    font-size: 8px !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-top : 5px;
    border-radius: 5px;
}
.button
{
    /*font-family: supercell-magic !important; */
    font-size: 10px !important;
}
.title
{
    /*font-family: supercell-magic !important; */
    font-size: 12px !important;
}
.msgPopup
{
    font-family: supercell-magic !important;
    font-size: 12px !important;
    text-align: center;

}
.h2{
     /*font-family: supercell-magic !important; */
    color: white !important;
    font-size: 12px !important;
}
.h3{
     /*font-family: supercell-magic !important; */
    color: white !important;
    font-size: 10px !important;
}
.divDinan{
    width: 100%  !important;
	background-size : cover !important;
    color: white !important ;
}

.divDinan button{
    background-color: rgba(78, 72, 72, 0.38) !important;
    color: white !important ;
    height: 32px
}

.divDinan label{
    background-color:rgba(168, 159, 159, 0.63) !important ;
}

.divDinan input{
    color: white !important ;
}
.h2header{
     /*font-family: supercell-magic !important; */
    color: #666 !important;
    font-size: 10px !important;
}
.h3header{
     /*font-family: supercell-magic !important; */
    color: #666 !important;
    font-size: 8px !important;
}
.popup-title{
    font-family:'supercell-magic';
}
.button.button-positive{
    font-family:'supercell-magic';

}

/*
 * https://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;    
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list.card{
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    text-align: -webkit-center;
}
.list.list-inset{
    background-color : rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 202px;
}

.input-div{
    background-color: azure;
}

.placeholder-white::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
    padding-left: 10px;
}
.placeholder-white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
   padding-left: 10px;
}
.placeholder-white::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
   padding-left: 10px;
}
.placeholder-white:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
   padding-left: 10px;
}
.placeholder-white::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
   padding-left: 10px;
}
.bar-header{
    background-color: rgb(47, 63, 90) !important;
    color: white;
}

.tabs{
    background-color: rgb(47, 63, 90) !important;
    color: white
}